@model SchoolApp_MVC.Dtos.Students.StudentUpdateDto

@{
    ViewData["Title"] = "Edit Student";
}

<h1>Edit Student</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="StudentID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="StudentName" class="form-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="StudentSurname" class="form-label"></label>
                <input asp-for="StudentSurname" class="form-control" />
                <span asp-validation-for="StudentSurname" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="StudentEmail" class="form-label"></label>
                <input asp-for="StudentEmail" class="form-control" />
                <span asp-validation-for="StudentEmail" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
